header {
    margin: auto;
    max-width: 50%;
    border: 5px solid black;
    background-color: gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolCard {
    max-width: 20%;
    max-height: auto;
    border: 1px solid black;
    background-color: gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.toolPic {
    max-width: 75%;
    height: auto;
    border: 1px solid black;
}

#available-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
}